---
import Layout from '../layouts/Layout.astro';
import Contacto from '../components/contacto.astro';
---

<Layout title="Contacto | Ruvedia - Pide tu presupuesto">
  <div class="pt-10">
    <Contacto />
  </div>
</Layout>
